[2019-09-18 02:25] imLogM opened #1 "Could you please upload CustomOperations"

[2019-09-18 02:33] imLogM opened #2 ""Didn't find custom op for name 'Convolution2DTransposeBias' with version 1 Registration failed.""
Thank for your guide!   :)
But when completed, I got an error "cannot find operation Convolution2DTransposeBias". It seems "CustomOperations" not participating in the compilation.
Could you please share your files which modified compared to tensorflow's source, include "CustomOperations" files and "BUILD" files ?

[2019-09-18 02:33] #1 closed

[2019-09-18 02:36] imLogM commented on #2
The error is
"Didn't find custom op for name 'Convolution2DTransposeBias' with version 1
Registration failed."

[2019-09-18 04:36] imLogM commented on #2
I have solved this problem.

------

My method is more complex.
The official source code has some "offical custom ops" in `tensorflow/lite/kernels`, showing how to add custom_ops.

So I used the following steps:
1. According to `tensorflow/lite/kernels/relu1.cc` , revise the new custom_ops codes ( *.cc files );
2. Put new custom_ops *.cc files into `tensorflow/lite/kernels/`;
3. Modify `tensorflow

[2019-09-18 04:38] wolterlw commented on #2
Great, just came across your issue.
In case anybody needs it - here's the full git diff and the BUILD file in the custom_ops directory
https://gist.github.com/wolterlw/767a467d6f75b3533cd49482ba25ae7e

[2019-09-18 11:58] #2 closed, assigned to nobody

[2019-09-19 00:26] metalwhale opened #3 "Where did the `data/anchors.csv` file come from?"
Hi @wolterlw, thank you very much for your kind guidance about building _tensorflow_ with custom operations!
May I ask you a question? How did you generate `data/anchors.csv` file? I tried to search around inside the [mediapipe](https://github.com/google/mediapipe/) source code but got nothing.
I'm newbie to the machine learning era so please forgive me if this is a stupid question...

[2019-09-19 00:36] wolterlw commented on #3
Hello @metalwhale and don't worry, no questions are stupid!
Regarding yours - I've removed all the mediapipe-related code from `::mediapipe::Status SsdAnchorsCalculator::GenerateAnchors` function in [this calculator](https://github.com/google/mediapipe/blob/master/mediapipe/calculators/tflite/ssd_anchors_calculator.cc), left the logic that calculates anchors, took input parameters from the related

[2019-09-19 00:48] metalwhale commented on #3
@wolterlw, thank you for your prompt response!!
Can you provide your code directly inside this awesome repo or somewhere else that can be easily searched? If you do that, people have same question like me will be able to quickly find the right answer!

[2019-09-19 08:31] AmitMY opened #4 "Docker image?"
Because of the not-trivial build needed here, do you mind creating a dockerfile / a docker image so using this repo is easier?

Thanks for making it available in python!

[2019-09-19 11:46] DmitryRyumin opened #5 "I cannot assemble the version TensorFlow for Mac OS"
I cannot assemble the version TensorFlow for Mac OS!

It seems I do everything according to the instructions but I get an error on the output

`ValueError: Didn't find custom op for name 'Convolution2DTransposeBias' with version 1`

**1. Step:**

Moved all files from folder **.../mediapipe/util/tflite/operations**  to folder **.../tensorflow/tensorflow/lite/python/custom_ops/**

**2. Step:**

**BU

[2019-09-19 14:09] DmitryRyumin commented on #2
Could you please share your files which modified compared to tensorflow's source?  [I have the same problem](https://github.com/wolterlw/hand_tracking/issues/5)

[2019-09-19 15:59] wolterlw commented on #4
Thank you for this suggestion @AmitMY
I've never built a Docker image and I don't have time to learn how to do it any time soon.
I'd be happy to accept any contributions though.

[2019-09-19 17:53] DmitryRyumin commented on #5
Problem resolved

[2019-09-19 17:53] #5 closed, assigned to nobody

[2019-09-20 10:28] metalwhale commented on #5
How did you solve that? Can you tell us more in detail?

[2019-09-20 19:23] wolterlw commented on #3
@metalwhale updated the README with a link to the script

[2019-09-20 19:23] #3 closed, assigned to nobody

[2019-09-21 05:09] metalwhale commented on #3
@wolterlw Thank you so much!!

[2019-09-22 08:00] AmitMY commented on #4
So, I need your help here in the custom tensorflow compilation.

I have installed the same python version as I assume you have (from the wheel file it says cc37), as well as checkedout tensorflow tag v1.13.2.
Then I copied the files from `mediapipe`, and replaced stuff in it like you mention in the README (the `sed` lines)

I also install the same bazel version you mentioned.

Here is my `Dockerfi

[2019-09-22 10:13] wolterlw commented on #4
Hmm, the error message does not seem to be anywhere near the custom operations. OK, thanks for such a detailed guide - I'll look into it.

[2019-09-22 17:30] bogos opened #6 "How can I use hand_tracking with my webcam?"
Hi @wolterlw, thank you very much for this mediapipe wrapper for python!

I have a pretty noob question, I am new to this environment and I would like to use my web cam to use the handtracker, is this possible? You think you could upload a mini example :( I've been trying using videocapture from opencv, but it didn't work for me.

[2019-09-22 18:22] wolterlw commented on #6
@bogos I've used OpenCV and it worked like a charm. If you look at [this commit](https://github.com/wolterlw/hand_tracking/blob/7f3894919f68bc6aba2929eed90bdbff818195b1/hand_model.ipynb) that's exactly what I did. Later changed it to be compatible with Binder, where you cannot use a webcam.
What errors do you get?

[2019-09-22 20:38] wolterlw commented on #4
OK I've recreated your issue (although you left out quite a bit of the actual working Dockerfile), but even without custom modifications I could not build tensorflow inside a container.

[2019-09-22 21:08] AmitMY commented on #4
What do you mean

What did I left out?
This Dockerfile is working up to the `bazel build` line... At least on my machine.

At any rate, thank you for indeed trying to make the build inside the container,
In the upcoming days I'll try further to debug it myself

[2019-09-22 22:30] wolterlw commented on #4
Had to set environmental variables like TF_NEED_CUDA=0 and stuff.
Sorry I can't be much help now as I caught a terrible flu.
I believe there should be some resources detailing tensorflow installation inside a container. If you manage to do that I believe we'll get this custom build running in no time.

[2019-09-24 00:47] metalwhale commented on #6
@bogos, you can take a look at my [demo](https://github.com/metalwhale/hand_tracking) which has `anchors.csv` and `hand_tracker.py` file were copied from this repo.
The `README.md` is written in Japanese but all you have to do is just execute these commands:
[code]
Btw, I downloaded palm detection model from [here](https://github.com/junhwanjang/mediapipe-models), which works like a charm while us

[2019-09-24 16:40] bogos commented on #6
@metalwhale Thanks! it's just what i was looking for! 🥰🥰
 I have a doubt, it is relatively slow, do you think there is any way to improve this? 😥

@wolterlw the problem apparently was that I had done a bad module installation :( now everything works fine <3

[2019-09-24 16:44] bogos commented on #6
@wolterlw the problem apparently was that I had done a bad module installation :( now everything works fine <3 thank you!

[2019-09-24 16:46] wolterlw commented on #6
Glad you sorted it out.

[2019-09-24 16:46] #6 closed, assigned to nobody

[2019-09-24 23:34] metalwhale commented on #6
@bogos I don't think it's slow but you can figure it out by comparing to the speed after you _commenting out_ this keypoints-extracting code at `run.py` file in my repo:
[code]
If it's still slow, I'm pretty sure it's not the fault of hand tracking process...
IMHO we can't do anything else to improve the speed, but you can do a research by yourself.

[2019-09-25 04:19] imLogM commented on #2
oh, my method is too complex, you can use @wolterlw 's method.

[2019-09-25 09:42] help8989 opened #7 "what's the exact meaning of these two parameters: "box_shift, box_enlarge""
thanks so much for this python version hand track
when i adjust different values of "box_shift“ and “box_enlarge“, it would affect the effect of hand detection，whether should i adjust these two parameters for different input images? and how to adjust?
thx

[2019-09-25 23:46] wolterlw commented on #7
So the thing with the hand detection model is that it detects palms, not hands. This means that we have no idea where the fingers are. Therefore we enlarge the bounding box so it contains the fingers as well. `box_enlarge` parameter is responsible for the new box scale, as compared to the palm bounding box.
Box shift is used to move the box closer to the middle finger base joint as in most cases i

[2019-09-26 03:48] #7 closed, assigned to nobody

[2019-09-26 12:11] lilyswang opened #8 "run it on a GPU"
Hi,@wolterlw ,thanks for your nice job.  I want to know why  hand_tracker.py don't use the GPUs (I find it only use computer's CPUs).

If I want to use that on a computer with GPU , how should I do ?

Looking forword your reply! Thanks alot.

[2019-09-26 16:53] wolterlw commented on #8
I use tflite interpreter to run Mediapipe's models. Currently tflite only supports mobile GPUs so to run the model on a desktop/laptop GPU you'd have to extend tflite with a new "delegate" as they call it, which I believe is far from easy.
I believe it would be possible to use models from [this repository](https://github.com/junhwanjang/mediapipe-models) and run them as a regular tensorflow model

[2019-09-29 06:50] lilyswang commented on #8
@wolterlw Thanks for your suggestions  ,I will try it .  ^_^

[2019-09-29 06:50] #8 closed, assigned to nobody

[2019-09-30 10:11] zeenolife opened #9 "Inference speed and classification head"
I am getting around 2.1 fps on a desktop CPU, which is nowhere around real-time :smile:
Is this the same for everyone?

Also, in Gooogle AI blog post they said they have gesture classification head, but I can't find it in the code. Can somebody point out where I should look for?

[2019-09-30 10:53] VitusMa commented on #9
I have the same performance issues with a CPU.

[2019-10-01 00:50] wolterlw commented on #9
regarding fps look at #8
about the gesture classification head - I did not port it

[2019-10-01 07:35] aashish-kumar commented on #2
@wolterlw
Thanks for sharing.
I followed these changes : https://gist.github.com/wolterlw/767a467d6f75b3533cd49482ba25ae7e. Additionally I had to change the include path in each *.cc. I am stuck with this error.
`tensorflow/lite/python/interpreter_wrapper/interpreter_wrapper.cc: In static member function 'static tflite::interpreter_wrapper::InterpreterWrapper* tflite::interpreter_wrapper::Interpre

[2019-10-01 10:02] aashish-kumar commented on #2
I figured out the namespace mediapipe has to be appended in interpreter_wrapper.cc

[2019-10-02 19:59] wolterlw commented on #9
also check out the new [desktop hand tracking demo](https://github.com/google/mediapipe/blob/master/mediapipe/docs/hand_tracking_desktop.md) in the official Mediapipe repo

[2019-10-02 20:00] wolterlw commented on #6
Also check out [this new demo](https://github.com/google/mediapipe/blob/master/mediapipe/docs/hand_tracking_desktop.md) in the official Mediapipe repo

[2019-10-18 02:27] davidakr commented on #4
any updates?

[2019-10-18 08:19] AmitMY commented on #4
Couldn't get it to work yet, but added some commands to the above Dockerfile to get other errors :)
https://github.com/AmitMY/pose-docker/blob/master/Google/Dockerfile

[2019-10-27 23:43] #9 closed, assigned to nobody

[2019-10-30 18:18] akamzin opened #10 "Following the steps."
Can you clarify first two steps.

1) Now we need to change the BUILD file. Is BUILD file file inside tensorflow/tensorflow?

2) we now are inside tensorflow repo you should remove the @org_tensorflow from dependency paths. Can you provide more information where I need to remove @org_tensorflow?

3) I am getting an error:
fatal error: mediapipe/util/tflite/operations/transpose_conv_bias.h: No such

[2019-10-30 21:21] akamzin commented on #2
What changes did you do in interpreter_wrapper.cc?

[2019-10-30 22:21] #10 closed, assigned to nobody

[2019-11-08 06:52] wyuzyf commented on #10
can you solve this problem? and give me some suggestions? THAMK YOU ~

[2019-11-12 13:52] sebastijan94 commented on #6
Hi @metalwhale, your example works perfectly, but the FPS is about 5 max. Did you manage to run it at a higher frame rate?

[2019-11-16 12:13] anouanou commented on #4
Have you been able to build the Docker Image ?

Thank you :)

[2019-11-16 16:00] AmitMY commented on #4
Not yet! Didn't have the time to try any more.
The Dockerfile is still the same and you are welcomed to give it a go!
https://github.com/AmitMY/pose-docker/blob/master/Google/Dockerfile

Still, it fails on the `bazel build`

[2019-11-19 16:06] ahmed-shariff commented on #6
The implementation here doesn't have the `PreviousLoopbackCalculator` from the graph in https://github.com/google/mediapipe/blob/master/mediapipe/docs/hand_tracking_desktop.md
I'll try to implement that when I get a chance. For now, I made a [few adjustments](https://github.com/ahmed-shariff/hand_tracking/commit/a1c5aef2a73bb1418e0f47b48e67a5c976537151) to use the previous box(triangle here) to es

[2019-11-29 00:17] wolterlw commented on #8
@lilyswang do you, by any chance have that repo forked or downloaded? because the source was removed by the author.

[2019-12-13 03:38] LeeYongchao commented on #2
tflite_operations::RegisterMaxUnpooling2D() should be mediapipe::tflite_operations::RegisterMaxUnpooling2D()

[2019-12-22 13:13] AmitMY commented on #4
@wolterlw Hi,
Mind taking a look again in the docker file and trying to fix the error?

[2019-12-23 08:09] imLogM commented on #4
@AmitMY
Can you compilate without docker?
Or can you compilate the tflite(official version) in docker?

I don't know how to use docker. But it seems not “custom operations” problem, maybe docker's problem.

[2019-12-23 12:32] AmitMY commented on #4
Thanks @imLogM , I went through everything again and manage to compile successfully!

Here is the updated Dockerfile anyone can use:
https://github.com/AmitMY/pose-docker/blob/master/Google/Dockerfile

The problem I am facing now is when running:

[code]

I am getting:

![image](https://user-images.githubusercontent.com/5757359/71358182-c8a50e00-2590-11ea-962a-7363e496b9b9.png)

I saw you solved a

[2019-12-23 13:09] imLogM commented on #4
@AmitMY
Congratulations! You compile the tflite(official version) successfully.
The problem is because you didn't change the "BUILD file" and "custom operations code files", so you didn't compile "custom operations".
Try to compile using @wolterlw 's method in https://github.com/wolterlw/hand_tracking/issues/2.

https://gist.github.com/wolterlw/767a467d6f75b3533cd49482ba25ae7e

[2019-12-23 13:24] wolterlw commented on #4
yo guys, wait a sec. I'm uploading a version without a custom tflite build today. Should work like a charm

[2019-12-23 13:58] AmitMY commented on #4
Cool, like https://github.com/metalwhale/hand_tracking ?
Will your port be able to use the GPU? Would it be able to detect multiple hands?

Looking forward to it.

Especially as after adding the diff using these commands:
[code]
I get:
![image](https://user-images.githubusercontent.com/5757359/71361801-bdf07600-259c-11ea-983d-db1479dafd92.png)

[2019-12-23 14:14] wolterlw commented on #4
@AmitMY yeah, that's exactly the repo I'm referring to.
Unfortunately no, it can't run on GPU.
Found what looks like the desktop GPU delegate in `bazel-mediapipe`, but I'm moving on to build my own hand tracking pipeline with emphasis on tracking

[2019-12-23 14:15] AmitMY commented on #4
Would it be able to detect multiple hands?
Because the other one works only on a single hand

[2019-12-23 14:24] wolterlw commented on #4
check out `optical_flow` branch - you'll find hand_tracker2.py which supports multiple hand tracking. However that branch is a mess so far.
But if there's demand - I'll clean it up sometime this week.

[2019-12-23 14:28] wolterlw commented on #4
If you wanna build a Docker image - you can do it now, the dependencies aren't changing.

[2019-12-23 14:42] AmitMY commented on #4
Thank you, I will build that docker image now.
One last question - I might be mistaken but I can only see support for 2D hand pose estimation, but the Google library supports 3D afaik -
![From Google](https://github.com/google/mediapipe/raw/master/mediapipe/docs/images/mobile/hand_tracking_3d_android_gpu.gif)

https://github.com/google/mediapipe/blob/master/mediapipe/docs/hand_tracking_mobile_gpu.

[2019-12-23 14:59] AmitMY commented on #4
Getting close!
With the new code, I ran:
[code]

and got:
![image](https://user-images.githubusercontent.com/5757359/71364595-5a1e7b00-25a5-11ea-9b67-963833f2c2ac.png)

Dockerfile:
[code]

[2019-12-23 15:21] wolterlw commented on #4
Yeah, that's alright, I've fixed that in the multihand version, not a very serious issue

[2019-12-23 15:32] AmitMY commented on #4
Thanks. Sorry if I'm missing something but:
1. Is this supporting 3D? (See 3 comments up)
2. So the next steps for me are to use `hand_tracker.py` from `optical_flow` branch?

[2019-12-23 15:58] wolterlw commented on #4
1. Haven't looked into 3D, but it should be quite similar
2. Wait for me to merge it into master

[2019-12-23 20:58] ahmed-shariff commented on #4
You can easily access the 3rd coordinates: https://github.com/ahmed-shariff/hand_tracking/commit/310fb95caa5f0b9198fdd0157d1ed4ef522069ae
hope that helps.

[2019-12-24 08:40] Damilytutu commented on #4
Hi,  I have one question. The value of anchors of column three and four in anchors.csv is 1, which is different from the anchors of SSD. Do you know how to construct the true boxes (the dimension is [num_priors, 4] like SSD) using anchors.csv to calculate the loss in the training phase? Thank you so much !

[2019-12-24 18:27] AmitMY commented on #4
Thank you @ahmed-shariff !
If @wolterlw does not incorporate this to the merge it seems easy to add by myself.
@wolterlw please update this thread if you can once you merged into master! Thanks for all of the great work!

@Damilytutu as that is unrelated, please open a new issue

[2019-12-26 08:14] ccl-private opened #12 "When "No hands found", it returned 3 "None", cauced: too many values to unpack (expected 2)"

[2019-12-26 09:40] ccl-private opened #13 "GPU not used."
I write a webcam demo and find it is using cpu only. How to use gpu?

[2019-12-27 09:23] AmitMY commented on #13
Unfortunately no, it can't run on GPU.
https://github.com/wolterlw/hand_tracking/issues/4#issuecomment-568486396

[2019-12-30 16:26] faresbs commented on #12
in the call method in hand_tracker.py simply replace the 3 return Nones by only 2 Nones.

[2019-12-30 16:28] faresbs opened #14 "hands tracking"
Hi,

I have a dataset of sequences of images (contain right/left hands) and i want to use mediapipe to extract hand regions from these images (both right and left hand or simply the right hand) and then save the hand regions in a destination folder.
I used the hand_tracker script to extract the hands. however, i've noticed that the model sometimes fails to track the same hand. You mentioned here h

[2019-12-30 17:30] #13 closed, assigned to nobody

[2019-12-30 17:33] wolterlw commented on #14
Yes, I'm building the tracking pipeline specifically for keeping track of hand ordering. I'll upload it after the holidays.

[2019-12-30 17:34] #12 closed, assigned to nobody

[2020-01-02 07:57] AmitMY commented on #4
Hi @wolterlw
Not to rush you or anything, but do you have an estimate when will the hand_tracking branch be ready, so we can avoid the overflow error?
(I would just like to know if soon, a few days, or we are talking weeks or months)

[2020-01-04 07:39] AmitMY opened #17 "3D Pose Estimation"
@ahmed-shariff Added support for 3d poses on this code base:
https://github.com/ahmed-shariff/hand_tracking/commit/310fb95caa5f0b9198fdd0157d1ed4ef522069ae

However, using this `hand_tracker.py`
[code]
With `print(d[0])`, I still am getting the 2D estimation.
@ahmed-shariff mind clarifying?

[2020-01-04 07:58] AmitMY opened #18 "Removing rotation estimation decreases accuracy"
I used the code in the current master branch to predict the bbox and joints for an image:
![image](https://user-images.githubusercontent.com/5757359/71762465-59a4af00-2ed8-11ea-914a-232ef090b567.png)

Works as well as expected.

Then I used the `hand_tracker2` code in the other branch, which supports multiple hands detection and joints prediction, and got this:
![image](https://user-images.githubu

[2020-01-04 16:03] wolterlw commented on #18
what do you mean "when the rotation is predicted". It's predicted in both cases. which is evident looking at the bounding boxes.
I've changed the anchor selection mechanism a bit to deal with exp overflow, but that's about it.

[2020-01-04 16:12] AmitMY commented on #18
Ah I expected the title:

To be without rotation, but you are right, there obviously is rotation.

What do you think is the reason for the rotation to be predicted differently then?
![image](https://user-images.githubusercontent.com/5757359/71768314-c5f5d180-2f1d-11ea-81e1-3e1e4ecfcc11.png)
![image](https://user-images.githubusercontent.com/5757359/71768319-caba8580-2f1d-11ea-8511-67de893e59c8.png

[2020-01-04 16:21] AmitMY commented on #17
I also tried printing the output details for the joints model:
[code]
Which returned:

Maybe I need to compile these models myself rather than using the already baked tflite models.

[2020-01-04 17:01] wolterlw commented on #18
So if you look [here](https://github.com/wolterlw/hand_tracking/blob/8fa156b350b4fc9c6e852218c48aea358845bb12/hand_tracker.py#L133), you'll notice that I pick the detection with the largest bounding box.
In the case of multiple hands I pick the detection [with the largest score ](https://github.com/wolterlw/hand_tracking/blob/17c60dcdb3e7430ded3d5d2339c0997fdf13af3d/hand_tracker2.py#L130).
Guess t

[2020-01-04 17:04] wolterlw commented on #17
Do you pass [this model](https://github.com/google/mediapipe/blob/master/mediapipe/models/hand_landmark_3d.tflite) to the tracker?

[2020-01-04 18:20] wolterlw commented on #18
check out the new `multihand` branch. It's a bit cleaner than optical_flow. Accuracy could be better in some cases but I believe it's due to simplistic aggregation.

[2020-01-04 18:21] wolterlw commented on #14
check out the `multihand` branch

[2020-01-04 18:21] #14 closed, assigned to nobody

[2020-01-04 18:26] wolterlw commented on #4
check out the `multihand` branch. It is sorta ready, but some improvements could be made with detection aggregation as the landmark model is not incredibly robust to rotation.

[2020-01-04 18:48] AmitMY commented on #17
Oh didn't notice there was a model distinction. Done, and everything seems to work.
I created a PR for optional 3d support

[2020-01-04 18:48] #17 closed, assigned to nobody

[2020-01-04 19:11] AmitMY commented on #4
Thanks.
I'll make that docker now when you merge the 3d changes.

3D output is pretty. Thanks @ahmed-shariff

![hand_3d](https://user-images.githubusercontent.com/5757359/71770551-7c65b080-2f36-11ea-85fe-e9979f4aff36.gif)

From:
![test_img](https://user-images.githubusercontent.com/5757359/71770559-adde7c00-2f36-11ea-96df-3362fc14d090.jpg)

[2020-01-05 02:42] wolterlw opened #22 "Improve hand detection aggregation"
![image](https://user-images.githubusercontent.com/11466975/71770035-cd72a600-2f30-11ea-83a8-c0edd1404b3f.png)
Currently hand detections are not aggregated, instead the detection with the largest bounding box size is selected. This often leads to incorrect bounding box rotations, which impedes landmark detection.
Accuracy can be approved by implementing [non-max suppression](https://www.pyimagesea

[2020-01-05 06:45] wolterlw commented on #18
I've opened a clean new issue for this problem.

[2020-01-05 06:45] #18 closed, assigned to nobody

[2020-01-05 07:44] AmitMY commented on #4
To whom it may concern -
Docker configuration can be found in https://github.com/AmitMY/pose-docker/tree/master/Google
I will probably also push it to Dockerhub in the future.

Instructions are in the README.md.

It supports 2d or 3d hand pose estimation from video.

[2020-01-05 07:44] #4 closed, assigned to nobody

[2020-01-05 11:25] wolterlw commented on #4
great job,
I say you should add the links to both your repo and dockerhub into this repo's Readme with all due credits.

[2020-01-07 00:10] faresbs commented on #14
I am using the multihand tracker in which i am passing the current image of the sequence with hand detections of the previous frame:
for image in image_sequence:
hands = HandTracker(image, prev_hands)

but it is failing to accurately track the hand (See pictures)
![images0002](https://user-images.githubusercontent.com/18466124/71858106-fe311780-30b7-11ea-88b0-c4e4bd36ff76.png)
![images0013](https:

[2020-01-08 09:12] AmitMY opened #23 "Recommended way to process videos"
Not an actual issue, more of a clarification request.

I'm trying to do hand pose estimation to a video.

Given this video:
![ezgif-6-8ce658e05744](https://user-images.githubusercontent.com/5757359/71964496-59712000-3206-11ea-911c-c06b76e0deb3.gif)

This is what OpenPose returns:
![openpose](https://user-images.githubusercontent.com/5757359/71964464-48c0aa00-3206-11ea-9ce6-c42f001ccb9a.gif)
It doe

[2020-01-15 05:09] wyp19930313 opened #24 "what does the anchor file mean?"
I read the SSD paper, but I still don't understand what the numbers in the anchor file mean. From your code, I know that the first two columns of anchor represent the predicted target center point, but the last two columns are always 1. I don't know what they mean, hope to get your help, thank you

[2020-01-15 16:29] wolterlw commented on #24
so as you've read in the SSD paper - anchors are box priors, which means that the whole image area is covered in possible box approximations. During prediction the model infers scores for all those boxes and offsets from each prior box to the actual object bounding box. It's easier to understand visually and the very first [search result](https://www.mathworks.com/help/vision/ug/anchor-boxes-for-o

[2020-01-16 07:54] wyp19930313 commented on #24
Thank you for your answer. I know the role of anchor, I looked at your [generated anchor code ](https://gist.github.com/wolterlw/6f1ebc49230506f8e9ce5facc5251d4f)and finally figured it out. Because the anchor's length and width are fixed in your JSON parameters, the last two columns of the anchor file are always 1. When I change to false, I successfully get the correct length and width of the anch

[2020-01-16 07:55] #24 closed, assigned to nobody

[2020-01-17 05:44] all3naby commented on #23
@AmitMY can you share the above code?

[2020-01-17 09:41] AmitMY commented on #23
https://github.com/AmitMY/pose-docker/tree/master/Google

You don't have to use docker, the code to run once you have this repository installed is:
https://github.com/AmitMY/pose-docker/blob/master/Google/api/pose_video.py

And there is a utility file for joint positions:
https://github.com/AmitMY/pose-docker/blob/master/Google/api/pose_util.py

[2020-02-06 06:05] ila555 opened #25 "How to run the hand_tracker.py"
Hi im a newbie. i tried to run the hand_tracker.py but nothing is happened. i run it in Terminal.

[2020-02-06 07:25] wolterlw commented on #25
hand_tracker.py is a module file, you don't run it - you import it.
For examples you can click on the Binder badge I put on top of the README. If you have jupyter installed you can run it on your local machine too.

[2020-02-06 09:58] Danil328 commented on #22
Hello!
I'm trying to apply nms to this task, but I don't understand what means this line:
`# bounding box offsets, width and height
dx, dy, w, h = candidate_detect[max_idx, :4]
center_wo_offst = candidate_anchors[max_idx, :2] * 256`
We chose widest suggestion, next we get dx, dy, w, h.
dx, dy - what is it?
How I can restore the bounding box with format (x1,y1,x2,y2)?

[2020-02-06 13:22] Danil328 commented on #22
Is it right?
`center_wo_offst = candidate_anchors[:, :2] * 256
boxes = np.zeros_like(candidate_detect[:, :4])
boxes[:, :2] = center_wo_offst - candidate_detect[:, :2] - candidate_detect[:, 2:4]
boxes[:, 2:4] = center_wo_offst - candidate_detect[:, :2] + candidate_detect[:, 2:4]`

[2020-02-06 13:34] Danil328 commented on #22
![image](https://user-images.githubusercontent.com/11178882/73941569-8f391f80-48fe-11ea-9afb-89d9c13d0fb7.png)

[2020-02-07 05:04] wolterlw commented on #23
Hi @AmitMY, sorry for the long wait, this project got kinda low on the priority list. Are you still interested in improving the pipeline?
If so - please send me an email (address in profile) and we could collaborate on it. There's plenty of work to be done starting all the way from hand detection, but I'm kind of reluctant to do it on my own.

[2020-02-14 15:33] ila555 commented on #25
Already able to run. thank you. Is it possible for me to train hand gesture ?

[2020-02-17 07:00] ila555 opened #26 "Train Hand gesture recognition"
I wanna do train hand gesture using your hand tracking but I dont know where to start.

[2020-02-17 09:04] wolterlw commented on #26
1. data collection:
you need a dataset with labeled video sequences, which I assume you have, or if you don't I've seen a paper by some people at MIT who did gesture recognition, hopefully they used public data
2. run the hand pose estimation algo and see how well it performs, most likely you'll need to do some post processing to at least smooth out the predictions in time, as the current iteratio

[2020-02-17 09:04] #25 closed, assigned to nobody

[2020-02-18 09:09] ila555 commented on #26
What do you mean by hand pose estimation? is it the one that i run the imported hand tracking or i have to create hand estimation algo?

[2020-02-18 20:21] Shahraizz opened #27 "Accessing z coordinate"
Can i get the values of  z coordinate using this hand_tracking module

[2020-02-18 20:54] wolterlw commented on #26
I meant the hand tracker

[2020-02-18 20:55] wolterlw commented on #27
check #17

[2020-02-18 20:55] #27 closed, assigned to nobody

[2020-02-19 20:11] Shahraizz commented on #17
@wolterlw @AmitMY can you help me with this, i am getting this error

<ipython-input-19-fa2f6ee0a2f7> in <module>
----> 1 kp, box = detector(img)
      2 print(kp)
      3
      4 f,ax = plt.subplots(1,1, figsize=(10, 10))
      5

    184         Mtr = cv2.getAffineTransform(
    185             self._source * scale,
--> 186             self._target_triangle
    187         )
    188

    106

[2020-02-20 05:56] ila555 commented on #26
is the pose predictor this "joints = self.predict_joints(img_landmark)" ?

[2020-02-20 07:22] ila555 commented on #26
is there any way that I can do something like this in the Hand Tracker?

float pseudoFixKeyPoint = landmarkList.landmark(2).x();
    if (landmarkList.landmark(3).x() < pseudoFixKeyPoint && landmarkList.landmark(4).x() < pseudoFixKeyPoint)
    {
        thumbIsOpen = true;
    }

    pseudoFixKeyPoint = landmarkList.landmark(6).y();
    if (landmarkList.landmark(7).y() < pseudoFixKeyPoint && landma

[2020-02-20 16:07] ahmed-shariff commented on #17
I have not been able to work on this for some time, and my fork is a little behind. Did it work if you use only my fork? or perhaps try one of the updates made in this repo?

[2020-02-20 19:21] wolterlw commented on #26
well the code you've pasted is C++ so there's a lot of extra complication of reading predicted landmarks, but generally speaking yes, you can do the same thing with the code in this repo.
First you follow the provided example and get a prediction dict that has all the keypoints in a numpy array, then you write custom code to do the above.

[2020-02-20 21:49] antiapt opened #28 "maximum recursion depth exceeded"
I was following the instructions and trying to reproduce the examples.  But it raises a recursion error when calling the sigmoid function [here](https://github.com/wolterlw/hand_tracking/blob/0cccb81e620f602e1a8f91aaed525e20b809fdf5/hand_tracker.py#L125).

[code]
Any idea of how to deal with this? I am using TensorFlow 2.0, python 35 in virtualenv of anaconda. Much appreciated!

[2020-02-20 22:50] wolterlw commented on #28
you're on master branch, right?
The code doesn't seem to have any recursive calls.
Can you run a debugger and set a breakpoint in sigm, step outside of it and see where it locks into recursion?

[2020-02-21 03:47] antiapt commented on #28
Yes, I am on the master branch and am stepping into this. It seems like to raise this problem when calculating the [out_clf](https://github.com/wolterlw/hand_tracking/blob/0cccb81e620f602e1a8f91aaed525e20b809fdf5/hand_tracker.py#L121). This value caused the recursion issue when calculating the sigmoid.

But could you share with me your system requirement, thank you!

[2020-02-21 04:44] antiapt commented on #28
It seems like there was an overflow error when calculating the exp() function. I converted the        [out_reg](https://github.com/wolterlw/hand_tracking/blob/0cccb81e620f602e1a8f91aaed525e20b809fdf5/hand_tracker.py#L120) and  [out_clf ](    https://github.com/wolterlw/hand_tracking/blob/0cccb81e620f602e1a8f91aaed525e20b809fdf5/hand_tracker.py#L121)into np.longdouble can it works out then.

[2020-02-21 07:08] wolterlw commented on #28
better clip the value under `exp`

[2020-02-21 20:04] antiapt commented on #28
Thanks for your suggestion, will try this.

[2020-02-25 04:06] ila555 commented on #26
thanks

[2020-02-25 04:06] ila555 commented on #26
thanks

[2020-02-25 04:06] #26 closed, assigned to nobody

[2020-02-25 04:09] ila555 opened #29 "Hand landmark 3D model"
I put in hand_landmark_3d.tflite but got this error instead:

kp_orig = (self._pad1(joints) @ Minv.T)[:,:2]
ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 3 is different from 4)

[2020-02-26 01:42] wolterlw commented on #29
did you use the 3d landmark fork?

[2020-02-27 07:43] ila555 commented on #29
what do you mean?

[2020-03-07 17:26] rami-alloush opened #30 "Where are the 21 keypoints?"
Hi,
Thank you for your efforts, I've been looking for something like this.
I'm using MediaPipe multihandtracking to get 42 keypoints for both hands (21 keypoints/hand).
From C++, I'm able to get them and right them to a txt file, but I was hoping to use your code to get these 42 keypoints into python in real time, is this possible?
Thanks

ref: https://ai.googleblog.com/2019/08/on-device-real-time

[2020-03-08 01:41] wolterlw commented on #30
Hello,
it is possible to get the 42 keypoints, but currently this code cannot run in real time as it runs on CPU.
To see a usage example either click the Binder badge or launch `hand_model.ipynb` in your local jupyter environment.

[2020-03-08 01:43] wolterlw commented on #29
so this repository does not implement 3d keypoint detection. However there is a fork of the project that supports 3d point regression, you just have to look through the issues and find it.

[2020-03-08 01:43] #29 closed, assigned to nobody

[2020-03-08 01:43] wolterlw commented on #28
so?

[2020-03-31 03:10] amandazw opened #31 "python opencv tensorflow version"
when I import models, the error shows below:
ValueError: Didn't find custom op for name 'Convolution2DTransposeBias' with version 1
Registration failed

so, I want to know what's the version for the three packages.
Thanks !

[2020-03-31 06:45] #30 closed, assigned to nobody

[2020-03-31 06:49] wolterlw commented on #31
the issue is that you're probably using the wrong .tflite file
the file in mediapipe repo has custom ops. To import these you'd have to compile a custom build of Tensorflow. This is laborious, so I've borrowed a .tflite files from another repo with the custom ops removed. Make sure you use those.

[2020-04-25 08:44] edwardnguyen1705 opened #32 "How to reduce false positive?"
Hi, thank you for sharing your code. I have been trying to change the threshold (even to 0.95) to eliminate false positive, buy it did not help.
https://github.com/wolterlw/hand_tracking/blob/0cccb81e620f602e1a8f91aaed525e20b809fdf5/hand_tracker.py#L125

Have anyone had the same situation? Or any suggestion is greatly appreciated.

[2020-04-27 05:26] wolterlw commented on #32
I believe the regressor also outputs a confidence score, so you can filter using it as well. This still leaves you with added costs of processing the false positives, but there’s no easy fix for it.

[2020-05-19 05:32] ghost opened #33 "error in creating detector in jupyter notebook"
I am getting the following error while running the provided jupyter notebook

"Model provided has model identifier 'd	d
', should be 'TFL3' "

[2020-05-19 05:54] ghost commented on #33
i am getting these very weird errors
 Model provided has model identifier '

[2020-05-19 06:12] ghost commented on #33
I manually downloaded the .tflite models from metalwhale and all worked :)

[2020-05-19 06:12] #33 closed, assigned to nobody

[2020-05-19 08:15] #31 closed, assigned to nobody

[2020-06-03 21:50] AlexYiningLiu opened #34 "Slow FPS for MetalWhale's repo, how to run this one?"
The frame rate that I get when running metalwhale's repo's hand tracking model is much extremely slow. The output frames don't form a smooth stream, instead, I see jittery, rough transitions on my output frames as I move my hand slowly across the camera. My output is significantly slower than the GIF output in the repository. Is there a way to fix this issue? If this is optimized better in this re

[2020-06-04 01:12] wolterlw commented on #34
These models are meant to be run offline, meaning on a previously recorded video. To run the code from this repo see the Binder example. If you need performance- check out the original Mediapipe repo, it’s written in C++ and can run on GPU on Linux.

[2020-06-20 02:58] ausaf-a commented on #22
I'm interested in attempting, is this still active?

[2020-06-24 20:29] AlexYiningLiu commented on #34
I tried running the code on a pre-recorded mp4 file, but the result was the same. The frames updated very slowly rather than in any kind of continuous stream. I'm simply executing run.py without changing any code.

[2020-06-24 20:30] #34 closed, assigned to nobody

[2020-06-24 20:30] AlexYiningLiu commented on #34
I tried running the code on a pre-recorded mp4 file, but the result was the same. The frames updated very slowly rather than in any kind of continuous stream. I'm simply executing run.py without changing any code. Are there any special requirements for the video that it handles best?

[2020-06-24 20:33] wolterlw commented on #34
No, the process is just slow because, like I mentioned earlier, it runs on CPU only.

[2020-06-24 20:35] wolterlw commented on #22
Sure, you can give it a go.

[2020-06-24 21:03] AlexYiningLiu commented on #34
Alright thanks for your response. On a side note, I would like to obtain the pixel coordinates of the finger tips. Based on the graph in the code, are those coordinates basically the 4th, 8th. 12th, 16th and 20th points in the points outputted by the detector?
![image](https://user-images.githubusercontent.com/46139686/85627510-9d34d600-b63c-11ea-8328-7ed23ddde0a1.png)

[2020-07-05 09:42] wolterlw commented on #34
Hah, I haven’t worked on this project since 2019, so it’s way easier for you to just check it yourself.

[2020-07-27 13:02] Mgz-97 opened #36 "When my gesture is stationary, the landmarks of the output are still changing. how to solve this problem?"
Hello, I modified the program to input a picture, but when a similar picture is input, the coordinates of the key points of the output gesture will be different. How to eliminate this difference? Thank you！

[2020-08-24 00:26] wolterlw commented on #36
I don’t think this is possible because the neural net uses the whole image as an input, so even if you change a couple of pixels the result may be different. It shouldn’t vary too much, but it won’t be the exact same.
If you want to compare outputs you can define a template and then compute distance between it and further outputs.

[2020-08-24 00:27] #32 closed, assigned to nobody

[2020-08-26 19:19] farnaznouraei opened #37 "301 Moved Permanently recieved when running load_models.sh"
Hi!

_Firstly_, one of the files you are trying to load using load_models.sh, has been **renamed**:
hand_landmark_3d.tflite >> hand_landmark.tflite
This itself took me a few hours to figure out and modify the bash script so I can run this command without getting a 404 error message.

_Secondly_, I am not able to load the two other files, which are from metalwhale/hand_tracking repo. When I just ra

[2020-08-26 22:32] farnaznouraei commented on #37
Okay.... It turns out the problem was again a changed directory path :-/
I changed the URLs back to how they were and just added the folder name `/models/` to the path for palm detection. So the file load_models.bash contents now look like:

[code]
BTW I also changed the `--referer` argument into the raw file url rather than the repo url as it used to be.

and now it downloads the files smoothly..

[2020-08-26 22:33] #37 closed, assigned to nobody

[2020-08-27 00:26] wolterlw commented on #37
@farnaznouraei could you make a small pull request?

[2020-08-27 22:17] farnaznouraei commented on #17
I am getting the same error as @Shahraizz using the most up-to-date hand-tracker.py version on the repo... Does anyone know how to resolve it?

[2020-08-27 22:18] farnaznouraei commented on #37
Sure, will do that soon.

[2020-08-27 22:55] farnaznouraei opened #38 "2D Pose Estimation (including connections between joints) possible?"
Hello,

Thanks for the nice work! I tried the mutihand branch on Epic Kitchens and the keypoints are visible. I was wondering, however, is there a way to visualize the connections between keypoints (a complete 2D pose estimation)? I may have missed it coz I'm new to this so please let me know if that's the case and how I can do visualize that.

Thanks!

[2020-08-28 16:25] farnaznouraei commented on #4
@AmitMY Hi Amit! Would you mind explaining how you managed to get the connections between joints? Running the hand_landmark and palm_detection_without_op models only gives me the keypoints. Do you know how I can obtain the connections between joints (complete 2D pose)?
P.S. I am using the _mutihand_ branch

[2020-08-29 04:20] AmitMY commented on #4
You can find a definition of `HAND_POINTS` and `HAND_LIMBS` here - https://github.com/AmitMY/pose-format/blob/master/pose_format/utils/openpose.py#L48

To get the indexes perhaps you could do

[code]

[2020-09-01 22:16] farnaznouraei commented on #4
@AmitMY Thanks this is great. But how do you incorporate this in the present code (hand_tracker.py)? I am not really sure where in the code the generated keypoints are assigned to certain joints in the hand - so don't know how I can use your definition and then draw the limb connections. Could you please help me with that?

[2020-09-02 03:01] wolterlw commented on #4
what do you mean by “assigned”. The ordering of predicted joints is constant, so to draw the index finger, for example, you’d have to draw a line that connects points 5,6,7,8, according to @AmitMY’s repo. Also you can always explore stuff like that in a Jupyter notebook for pose schemes that are new.

[2020-09-02 11:59] farnaznouraei commented on #4
Thanks @wolterlw . I guess my problem is I am not sure where in hand_tracker.py I should incorporate @AmitMY 's scheme. Is the function get_landmarks() responsible for running the prediction?

[2020-09-05 06:14] kukuhaza opened #40 "Wht img_norm.shape must be (256,256,3)?"
Hello~
Thank you for your work.
In the hand_tracker.py,
I want to enlarge the size and then detect, but I don’t know which parts need to change. Why do you resize to 256,256? If I want to change to other sizes, is it okay?

[2020-09-05 09:43] wolterlw commented on #40
This particular neural net expects a (256,256,3) tensor as input. For best quality just crop around the hand region.

[2020-09-05 09:44] #40 closed, assigned to nobody

[2020-09-06 08:53] kukuhaza commented on #40
Thank u for your reply. I will try to crop ,thank you!

[2020-09-17 08:17] DengHaoke opened #41 "MultiHand Detection"
I wonder if it can dectect muti-hands and how many hands could be detected at most?

[2020-09-17 23:19] farnaznouraei commented on #41
I think the multihand branch is for that purpose. I tried it and was able to detect 4 hands which was the maximum number present in my videos
#14

[2020-09-20 02:28] wolterlw commented on #41
technically the system should be able to find tens of hands (although [NMS](http://datahacker.rs/deep-learning-non-max-suppression/) might suppress the smaller ones). Keep in mind that each hand, once detected, is processed separately by the joint regressor, so execution time will grow linearly.

[2020-09-20 02:29] #41 closed, assigned to nobody

[2020-09-20 02:29] #36 closed, assigned to nobody

[2021-05-27 18:10] mlizhardy commented on #3
anchors are now 896 not 2944 https://drive.google.com/file/d/1yiPfkhb4hSbXJZaSq9vDmhz24XVZmxpL/view
https://github.com/google/mediapipe/blob/ecb5b5f44ab23ea620ef97a479407c699e424aa7/mediapipe/modules/palm_detection/palm_detection_gpu.pbtxt

ideas on calculating the new ones?

[2021-06-04 00:16] mlizhardy commented on #3
was able to generate them via https://gist.github.com/ogl4jo3/5ba673b61ecc82780299edbcdcca301a